/*GENREALES*/

*{
    margin: 0%;
    padding: 0%;
}

ol, ul{
    display: flex;
    flex-direction: row;
    padding: 0px;
    display: inline-block;
    text-decoration: none;
}

p{
    margin: 0px;
}