@media screen and (max-width:780px) {
     /*HEADER*/
     header{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: 20px 80px 50px;
     }
     .idiomasIniciarSecion{
         height: 30px;
         grid-column-start: 1;
         grid-column-end: 4;
     }
     .divlogo{
         height: 55px;
         width: 40%;
         grid-area: 2 / 2 / 3 / 3;
     }
     .menu{
         grid-row-start: 3;
         grid-row-end: 4;
         grid-column-start: 1;
         grid-column-end: 3;
         grid-area: 3 / 1 / 4 / 4;
     }
     .navbar{
         margin: 0;
         display: grid;
         grid-template-columns: repeat(4, 1fr);
     }
 
 
     /*INICIO*/
     
 
     #producto1{
         padding-top: 140px;
     }
 
 
     /*CONTACTO*/
 
     
     #contacto{
         background-size: 100% 65rem;
         height: 55rem;
         width: 100%;
     }
 
 
     /*SERVICIOS*/
 
     #marca1{
         padding-top: 140px;
         width: 100%;
     }
 
 
     /*NOVEDADES*/
 
     
     #novedades{
         padding-top: 140px;
     }
 
     /*FOOTER*/
      footer{
          background-color: darkgray;
      }
      .linkMail{
          color: black;
      }
 }
 
 @media screen and (max-width:600px) {
 
     
     
     /*HEADER*/
 
 
     header{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);
     }
     .idiomasIniciarSecion{
         background-color: black;
         grid-area: 1 / 2 / 3 / 3;
         font-size: 20px;
         padding-top: 20px;
     }
     .divlogo{
         grid-area: 1 / 1 / 2 / 2;
     }
     
     /*INICIO*/
 
 
     #producto1{
         height: 200px;
         padding-top: 120px;
     }
     .imagen1{
         width: 50%;
         height: 200px;
     }
     #producto1 h1{
         font-size: 50px;
     }
     #producto1 ul{
         font-size: 12px;
     }
 
     #producto2{
         height: 200px;
     }
     .imagen2{
         width: 50%;
         height: 200px;
     }
     #producto2 h1{
         font-size: 50px;
     }
     #producto2 ul{
         font-size: 12px;
     }
 
     /*SERVICIOS*/
 
     #marca1{
         height: 45rem;
     }
     #marca2{
         height: 45rem;
     }
     #marca3{
         height: 45rem;
     }
     .marca1Producto1, .marca1Producto2, .marca1Producto3, .marca1Producto4, .marca1Producto5, .marca1Producto6{
         background-size: 100% 200px;
     }
     /*NOVEDADES*/
 
 
     #novedades {
         padding-top: 120px;
         height: 25rem;
     }
 
 
     /*FOOTER*/
     footer{
         height: 30px;
         display: grid;
         grid-template-rows: repeat(2, 15px);
         background-color: white;
     }
     .sitemap{
         display: none;
     }
 }
 
 @media screen and (max-width:500px) {
     .idiomasIniciarSecion a {
         display: none;
     }
     .idiomasIniciarSecion img {
         background-color: white;
         height: 30px;
         width: 30px;
         display: inline-block;
         margin: 10px 25px;
         grid-area: 1 / 2 / 2 / 3;
     }
     .menu a {
         display: none;
     }
     .menu img {
         display: block;
         margin-left: 30px;
     }
 }