@media only screen and (max-width: 1200px) {
    .marca1{
        @include serviciomedia;
        
    }

    .marca2{
        @include serviciomedia;
    }

    .marca3{
        @include serviciomedia;
    }
}


@media only screen and (max-width: 992px) {
    .cabecera{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 20px 80px 50px;
    
        &__idiomasIniciarSesion{
            height: 30px;
            grid-column-start: 1;
            grid-column-end: 4;
        }
        
        
        &__logo{
            height: 55px;
            width: 40%;
            grid-area: 2 / 2 / 3 / 3;
        }
    
        &__nav{
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-area: 3 / 1 / 4 / 4;

            &__navbar{
                background-color: white;
                margin: 0;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }

    .sale{
        
        @for $i from 1 through 6{
            &__producto#{$i}{
                &__parrafo{
                    width: $mc-width;
                }
            }
        }

        @for $i from 6 through 9 {
            &__producto#{$i}{
                &__parrafo{
                    width: $m-width;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .cabecera{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 20px 80px 50px;

        &__idiomasIniciarSecion{
            height: 30px;
            grid-column-start: 1;
            grid-column-end: 4;
        }

        &__logo{
            height: 55px;
            width: 40%;
            grid-area: 2 / 2 / 3 / 3;
        }

        &__nav{
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-area: 3 / 1 / 4 / 4;

            &__navbar{
                margin: 0;
                height: 30px;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }

    .producto1, .contacto, .principal__seccionUno{
        padding-top: 140px;
    }

    .footer{
        background-color: silver;

        .subsitemap{
            a{
                color: black;
            }
        }

        &__linkMail{
            color: black;
        }
    }
}