/*COLORES*/

$primario: black;
$secundario: white;
$terciario: red;
$cuaternario: silver;

/*MEDIDAS W*/

$g-width: 100%;
$m-width: 75%;
$c-width: 50%;
$mc-width: 25%;

/*MEDIDAS H*/

$mg-height: 400px;
$g-height: 300px;
$m-height: 200px;
$c-height: 100px;
$mc-height: 50px;

/*MEDIDAS FUENTES*/

