/*GENREALES*/
* {
  margin: 0%;
  padding: 0%; }

/*COLORES*/
/*MEDIDAS W*/
/*MEDIDAS H*/
/*MEDIDAS FUENTES*/
/*HEADER*/
.cabecera {
  color: #ebdede;
  background-color: black;
  height: 120px;
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .cabecera a {
    color: red;
    margin: 20px;
    text-decoration: none; }
  .cabecera__idiomasIniciarSesion {
    background-color: silver;
    margin: 0%;
    padding: 5px;
    height: 35px;
    text-align: left;
    text-decoration: none !important;
    font-family: Rockwell Condensed;
    font-size: 20px;
    align-self: flex-start;
    width: 100%; }
    .cabecera__idiomasIniciarSesion__item:hover {
      color: black; }
    .cabecera__idiomasIniciarSesion__img {
      display: none; }
  .cabecera__logo__item__img {
    height: 80px;
    width: 10rem; }
  .cabecera__nav__navbar {
    padding: 0%;
    list-style: none;
    font-family: 'Charm', cursive;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 3rem; }
    .cabecera__nav__navbar__item a:hover {
      background-color: red;
      color: silver; }
  .cabecera__nav__navbarimg {
    display: none; }
  .cabecera__item:hover .submenu {
    display: block; }
  .cabecera .submenu {
    list-style: none;
    position: absolute;
    background-color: red;
    display: none;
    text-align: center;
    padding: 0%; }
    .cabecera .submenu a {
      margin: 20px;
      color: white;
      text-align: center; }

/*MEDIA QUERY*/
@media only screen and (max-width: 992px) {
  .cabecera {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px 80px 50px; }
    .cabecera__idiomasIniciarSesion {
      height: 30px;
      grid-column-start: 1;
      grid-column-end: 4; }
    .cabecera__logo {
      height: 55px;
      width: 40%;
      grid-area: 2 / 2 / 3 / 3; }
    .cabecera__nav {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-area: 3 / 1 / 4 / 4; }
      .cabecera__nav__navbar {
        background-color: white;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr); } }

@media screen and (max-width: 768px) {
  .cabecera {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px 80px 50px; }
    .cabecera__idiomasIniciarSecion {
      height: 30px;
      grid-column-start: 1;
      grid-column-end: 4; }
    .cabecera__logo {
      height: 55px;
      width: 40%;
      grid-area: 2 / 2 / 3 / 3; }
    .cabecera__nav {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-area: 3 / 1 / 4 / 4; }
      .cabecera__nav__navbar {
        margin: 0;
        height: 30px;
        display: grid;
        grid-template-columns: repeat(5, 1fr); }
        .cabecera__nav__navbar__item {
          border: 2px black; }
      .cabecera__nav span {
        display: none; } }

@media screen and (max-width: 600px) {
  .cabecera {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    .cabecera__idiomasIniciarSesion {
      background-color: black;
      grid-area: 1 / 2 / 3 / 3;
      font-size: 20px;
      padding-top: 20px; }
    .cabecera__logo {
      grid-area: 1 / 1 / 2 / 2; } }

@media screen and (max-width: 550px) {
  .cabecera {
    height: 100px; }
    .cabecera__logo__item__img {
      width: 8rem; }
    .cabecera__idiomasIniciarSesion a {
      display: none; }
    .cabecera__idiomasIniciarSesion img {
      background-color: white;
      height: 30px;
      width: 30px;
      display: inline-block;
      margin: 10px 10px; }
    .cabecera__nav {
      margin-top: 25px; }
      .cabecera__nav__navbar {
        display: none; }
      .cabecera__nav__navbarimg {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        background-color: silver;
        list-style: none; }
    .cabecera a {
      margin: 0%; } }

/*-------PAGINAS-------*/
/*INICIO*/
.principal__seccionUno {
  background-image: linear-gradient(to left, silver, white);
  height: 520px;
  width: 100%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between; }
  .principal__seccionUno__img {
    width: 50%;
    height: 400px;
    position: relative;
    z-index: 1; }
    .principal__seccionUno__img img {
      width: 50%;
      height: 400px; }
  .principal__seccionUno__titulo {
    color: #575757;
    font-family: 'Yesteryear', cursive;
    font-size: 100px;
    align-self: center;
    animation-duration: 2s;
    animation-name: aparecerTitulo; }

@keyframes aparecerTitulo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .principal__seccionUno__lista {
    font-family: 'Charm', cursive;
    flex-direction: column;
    align-self: center;
    list-style: none;
    font-size: 25px;
    margin: 0 0.5rem;
    animation: backInRight;
    animation-duration: 2s; }
  .principal__seccionUno a {
    margin: 0;
    align-self: flex-start;
    padding-bottom: 1rem; }

.principal__seccionDos {
  background-image: linear-gradient(to right, silver, white);
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: space-between; }
  .principal__seccionDos__img {
    width: 50%;
    height: 400px; }
  .principal__seccionDos__titulo {
    color: #575757;
    font-family: 'Yesteryear', cursive;
    font-size: 100px;
    align-self: center;
    animation-duration: 2s;
    animation-name: aparecerTitulo; }

@keyframes aparecerTitulo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .principal__seccionDos__lista {
    font-family: 'Charm', cursive;
    align-self: center;
    list-style: none;
    flex-direction: column;
    font-size: 25px;
    margin: 0 0.5rem;
    animation: backInLeft;
    animation-duration: 2s; }
  .principal__seccionDos a {
    margin: 0%;
    align-self: flex-start;
    padding-bottom: 1rem; }

@media screen and (max-width: 768px) {
  .principal__seccionUno {
    height: 540px;
    padding-top: 140px; } }

@media screen and (max-width: 600px) {
  .principal {
    height: 1110px; }
    .principal__seccionUno {
      height: 610px;
      padding-top: 110px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .principal__seccionUno__img {
        height: 400px;
        width: 100%; }
        .principal__seccionUno__img img {
          width: 100%;
          height: 400px; }
      .principal__seccionUno__titulo {
        font-size: 50px; }
      .principal__seccionUno__lista {
        font-size: 12px; }
      .principal__seccionUno__boton {
        text-align: center; }
        .principal__seccionUno__boton button {
          width: 120px;
          height: 40px; }
    .principal__seccionDos {
      height: 500px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between; }
      .principal__seccionDos__img {
        height: 400px;
        width: 100%; }
        .principal__seccionDos__img img {
          width: 100%;
          height: 400px; }
      .principal__seccionDos__titulo {
        font-size: 50px; }
      .principal__seccionDos__lista {
        font-size: 12px; }
      .principal__seccionDos__boton button {
        width: 120px;
        height: 40px; } }

@media screen and (max-width: 550px) {
  .principal__seccionUno, .principal__seccionDos {
    justify-content: space-between; }
    .principal__seccionUno__img, .principal__seccionDos__img {
      height: 300px; }
      .principal__seccionUno__img img, .principal__seccionDos__img img {
        height: 300px; }
    .principal__seccionUno__lista, .principal__seccionDos__lista {
      width: 160px; } }

/*CONTACTO*/
.contacto {
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: 100% 1200px, 2;
  height: 1680px;
  text-align: center;
  padding-top: 120px;
  display: flex;
  flex-direction: column; }
  .contacto__titulo {
    font-size: 60px;
    font-family: 'Quando', serif;
    text-transform: uppercase;
    margin: 50px 0.5rem;
    color: red;
    animation: backInDown;
    animation-duration: 2s; }
  .contacto__parrafo {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    font-weight: bold;
    margin: 50px 0.5rem;
    animation: backInLeft;
    animation-duration: 3s; }
  .contacto__formulario {
    font-family: 'Righteous', cursive;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 1280px; }
    .contacto__formulario__nombreYApellido, .contacto__formulario__correoElectronico, .contacto__formulario__seleccionePais, .contacto__formulario__escribaComentario {
      padding: 0.5rem;
      font-family: 'Righteous', cursive;
      text-align: center;
      border: none; }
    .contacto__formulario__nombreYApellido:focus, .contacto__formulario__correoElectronico:focus, .contacto__formulario__seleccionePais:focus, .contacto__formulario__escribaComentario:focus {
      width: 300px;
      font-size: 15px;
      transition: all 2s; }
    .contacto__formulario__formulario__sexo__label, .contacto__formulario__formulario__sexo__input {
      margin-left: 2rem; }
    .contacto__formulario__boton__submit, .contacto__formulario__boton__reset {
      padding: 10px;
      font-family: 'Righteous', cursive;
      text-align: center;
      background-color: black;
      color: white;
      border: none;
      margin: 0 1rem;
      cursor: pointer; }

@media screen and (max-width: 768px) {
  .contacto {
    padding-top: 140px; } }

@media screen and (max-width: 600px) {
  .contacto {
    background-size: 800px 100%; }
    .contacto__titulo {
      font-size: 50px; } }

@media screen and (max-width: 500px) {
  .contacto__titulo {
    font-size: 35px; }
  .contacto__formulario__boton__submit {
    margin-bottom: 15px; } }

/*SERVICIOS*/
.marca1 {
  background-color: silver;
  padding-top: 120px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem repeat(2, 1fr);
  grid-gap: 0.5rem;
  text-align: center; }
  .marca1 h1 {
    font-family: 'Nanum Gothic Coding', serif;
    text-transform: uppercase;
    font-size: 2.5rem; }
  .marca1 h2 {
    font-family: 'Yesteryear', cursive;
    text-transform: uppercase;
    font-size: 1rem; }
  .marca1__titulo {
    background-image: linear-gradient(white, silver);
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .marca1__producto1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca1__producto1__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca1__producto1__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca1__producto2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca1__producto2__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca1__producto2__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca1__producto3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca1__producto3__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca1__producto3__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca1__producto4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca1__producto4__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca1__producto4__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca1__producto5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca1__producto5__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca1__producto5__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca1__producto6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca1__producto6__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca1__producto6__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca1__producto7 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca1__producto7__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca1__producto7__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca1__producto8 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca1__producto8__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca1__producto8__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca1__producto9 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca1__producto9__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca1__producto9__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca1__producto10 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca1__producto10__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca1__producto10__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca1__producto11 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca1__producto11__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca1__producto11__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca1__producto12 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca1__producto12__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca1__producto12__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca1__producto1:hover, .marca1__producto2:hover, .marca1__producto3:hover, .marca1__producto4:hover, .marca1__producto5:hover, .marca1__producto6:hover, .marca1__producto7:hover, .marca1__producto8:hover, .marca1__producto9:hover, .marca1__producto10:hover, .marca1__producto11:hover, .marca1__producto12:hover {
    transition: all 2s;
    transform: scale(1.2, 1.2); }
  .marca1__producto1 {
    background-image: url("../img/Nike/Nike-1.jpeg"); }
  .marca1__producto2 {
    background-image: url("../img/Nike/Nike-2.jpeg"); }
  .marca1__producto3 {
    background-image: url("../img/Nike/Nike-3.jpeg"); }
  .marca1__producto4 {
    background-image: url("../img/Nike/Nike-4.jpeg"); }
  .marca1__producto5 {
    background-image: url("../img/Nike/Nike-5.jpeg"); }
  .marca1__producto6 {
    background-image: url("../img/Nike/Nike-6.jpeg"); }
  .marca1__producto4 {
    background-image: url("../img/Nike/Nike-4.png"); }

.marca2 {
  background-color: silver;
  padding-top: 120px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem repeat(2, 1fr);
  grid-gap: 0.5rem;
  text-align: center;
  padding: 0%;
  background-color: white; }
  .marca2 h1 {
    font-family: 'Nanum Gothic Coding', serif;
    text-transform: uppercase;
    font-size: 2.5rem; }
  .marca2 h2 {
    font-family: 'Yesteryear', cursive;
    text-transform: uppercase;
    font-size: 1rem; }
  .marca2__titulo {
    background-image: linear-gradient(white, silver);
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .marca2__producto1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca2__producto1__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca2__producto1__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca2__producto2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca2__producto2__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca2__producto2__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca2__producto3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca2__producto3__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca2__producto3__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca2__producto4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca2__producto4__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca2__producto4__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca2__producto5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca2__producto5__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca2__producto5__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca2__producto6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca2__producto6__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca2__producto6__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca2__producto7 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca2__producto7__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca2__producto7__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca2__producto8 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca2__producto8__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca2__producto8__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca2__producto9 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca2__producto9__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca2__producto9__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca2__producto10 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca2__producto10__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca2__producto10__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca2__producto11 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca2__producto11__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca2__producto11__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca2__producto12 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca2__producto12__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca2__producto12__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca2__producto1:hover, .marca2__producto2:hover, .marca2__producto3:hover, .marca2__producto4:hover, .marca2__producto5:hover, .marca2__producto6:hover, .marca2__producto7:hover, .marca2__producto8:hover, .marca2__producto9:hover, .marca2__producto10:hover, .marca2__producto11:hover, .marca2__producto12:hover {
    transition: all 2s;
    transform: scale(1.2, 1.2); }
  .marca2__titulo {
    background-image: linear-gradient(silver, white); }
  .marca2__producto1 {
    background-image: url("../img/Converse/Converse-1.jpeg"); }
  .marca2__producto2 {
    background-image: url("../img/Converse/Converse-2.jpeg"); }
  .marca2__producto3 {
    background-image: url("../img/Converse/Converse-3.jpeg"); }
  .marca2__producto4 {
    background-image: url("../img/Converse/Converse-4.jpeg"); }
  .marca2__producto5 {
    background-image: url("../img/Converse/Converse-5.jpeg"); }
  .marca2__producto6 {
    background-image: url("../img/Converse/Converse-6.jpeg"); }

.marca3 {
  background-color: silver;
  padding-top: 120px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem repeat(2, 1fr);
  grid-gap: 0.5rem;
  text-align: center;
  padding: 0%;
  height: 1600px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem repeat(4, 1fr); }
  .marca3 h1 {
    font-family: 'Nanum Gothic Coding', serif;
    text-transform: uppercase;
    font-size: 2.5rem; }
  .marca3 h2 {
    font-family: 'Yesteryear', cursive;
    text-transform: uppercase;
    font-size: 1rem; }
  .marca3__titulo {
    background-image: linear-gradient(white, silver);
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .marca3__producto1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca3__producto1__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca3__producto1__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca3__producto2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca3__producto2__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca3__producto2__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca3__producto3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca3__producto3__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca3__producto3__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca3__producto4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca3__producto4__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca3__producto4__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca3__producto5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca3__producto5__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca3__producto5__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca3__producto6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca3__producto6__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca3__producto6__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca3__producto7 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca3__producto7__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca3__producto7__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca3__producto8 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca3__producto8__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca3__producto8__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca3__producto9 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca3__producto9__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca3__producto9__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca3__producto10 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca3__producto10__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca3__producto10__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca3__producto11 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca3__producto11__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca3__producto11__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca3__producto12 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: 415px 350px;
    background-repeat: no-repeat; }
    .marca3__producto12__link button {
      background-color: #1f1f1f;
      color: silver;
      border: groove;
      padding: 10px;
      cursor: pointer; }
    .marca3__producto12__link:hover {
      animation: shakeX;
      animation-duration: 2s; }
  .marca3__producto1:hover, .marca3__producto2:hover, .marca3__producto3:hover, .marca3__producto4:hover, .marca3__producto5:hover, .marca3__producto6:hover, .marca3__producto7:hover, .marca3__producto8:hover, .marca3__producto9:hover, .marca3__producto10:hover, .marca3__producto11:hover, .marca3__producto12:hover {
    transition: all 2s;
    transform: scale(1.2, 1.2); }
  .marca3__producto1 {
    background-image: url("../img/Otros/Otros-1.jpeg"); }
  .marca3__producto2 {
    background-image: url("../img/Otros/Otros-2.jpeg"); }
  .marca3__producto3 {
    background-image: url("../img/Otros/Otros-3.jpeg"); }
  .marca3__producto4 {
    background-image: url("../img/Otros/Otros-4.jpeg"); }
  .marca3__producto5 {
    background-image: url("../img/Otros/Otros-5.jpeg"); }
  .marca3__producto6 {
    background-image: url("../img/Otros/Otros-6.jpeg"); }
  .marca3__producto7 {
    background-image: url("../img/Otros/Otros-7.jpeg"); }
  .marca3__producto8 {
    background-image: url("../img/Otros/Otros-8.jpeg"); }
  .marca3__producto9 {
    background-image: url("../img/Otros/Otros-9.jpeg"); }
  .marca3__producto10 {
    background-image: url("../img/Otros/Otros-10.jpeg"); }
  .marca3__producto11 {
    background-image: url("../img/Otros/Otros-11.jpeg"); }
  .marca3__producto12 {
    background-image: url("../img/Otros/Otros-12.jpeg"); }

@media screen and (max-width: 1200px) {
  .marca1 {
    height: 100rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px repeat(3, 1fr); }
    .marca1__titulo {
      grid-area: 1 / 1 / 2 / 4; }
    .marca1__producto1 {
      background-size: 100% 100%; }
    .marca1__producto2 {
      background-size: 100% 100%; }
    .marca1__producto3 {
      background-size: 100% 100%; }
    .marca1__producto4 {
      background-size: 100% 100%; }
    .marca1__producto5 {
      background-size: 100% 100%; }
    .marca1__producto6 {
      background-size: 100% 100%; }
    .marca1__producto7 {
      background-size: 100% 100%; }
    .marca1__producto8 {
      background-size: 100% 100%; }
    .marca1__producto9 {
      background-size: 100% 100%; }
    .marca1__producto10 {
      background-size: 100% 100%; }
    .marca1__producto11 {
      background-size: 100% 100%; }
    .marca1__producto12 {
      background-size: 100% 100%; }
    .marca1__producto1 {
      grid-area: 2 / 1 / 3 / 2; }
    .marca1__producto2 {
      grid-area: 2 / 2 / 3 / 4; }
    .marca1__producto3 {
      grid-area: 3 / 1 / 4 / 2; }
    .marca1__producto4 {
      grid-area: 3 / 2 / 4 / 4; }
    .marca1__producto5 {
      grid-area: 4 / 1 / 5 / 2; }
    .marca1__producto6 {
      grid-area: 4 / 2 / 5 / 4; }
  .marca2 {
    height: 100rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px repeat(3, 1fr); }
    .marca2__titulo {
      grid-area: 1 / 1 / 2 / 4; }
    .marca2__producto1 {
      background-size: 100% 100%; }
    .marca2__producto2 {
      background-size: 100% 100%; }
    .marca2__producto3 {
      background-size: 100% 100%; }
    .marca2__producto4 {
      background-size: 100% 100%; }
    .marca2__producto5 {
      background-size: 100% 100%; }
    .marca2__producto6 {
      background-size: 100% 100%; }
    .marca2__producto7 {
      background-size: 100% 100%; }
    .marca2__producto8 {
      background-size: 100% 100%; }
    .marca2__producto9 {
      background-size: 100% 100%; }
    .marca2__producto10 {
      background-size: 100% 100%; }
    .marca2__producto11 {
      background-size: 100% 100%; }
    .marca2__producto12 {
      background-size: 100% 100%; }
    .marca2__producto1 {
      grid-area: 2 / 1 / 3 / 2; }
    .marca2__producto2 {
      grid-area: 2 / 2 / 3 / 4; }
    .marca2__producto3 {
      grid-area: 3 / 1 / 4 / 2; }
    .marca2__producto4 {
      grid-area: 3 / 2 / 4 / 4; }
    .marca2__producto5 {
      grid-area: 4 / 1 / 5 / 2; }
    .marca2__producto6 {
      grid-area: 4 / 2 / 5 / 4; }
  .marca3 {
    height: 100rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px repeat(3, 1fr);
    height: 150rem;
    grid-template-rows: 100px repeat(6, 1fr); }
    .marca3__titulo {
      grid-area: 1 / 1 / 2 / 4; }
    .marca3__producto1 {
      background-size: 100% 100%; }
    .marca3__producto2 {
      background-size: 100% 100%; }
    .marca3__producto3 {
      background-size: 100% 100%; }
    .marca3__producto4 {
      background-size: 100% 100%; }
    .marca3__producto5 {
      background-size: 100% 100%; }
    .marca3__producto6 {
      background-size: 100% 100%; }
    .marca3__producto7 {
      background-size: 100% 100%; }
    .marca3__producto8 {
      background-size: 100% 100%; }
    .marca3__producto9 {
      background-size: 100% 100%; }
    .marca3__producto10 {
      background-size: 100% 100%; }
    .marca3__producto11 {
      background-size: 100% 100%; }
    .marca3__producto12 {
      background-size: 100% 100%; }
    .marca3__producto1 {
      grid-area: 2 / 1 / 3 / 2; }
    .marca3__producto2 {
      grid-area: 2 / 2 / 3 / 4; }
    .marca3__producto3 {
      grid-area: 3 / 1 / 4 / 2; }
    .marca3__producto4 {
      grid-area: 3 / 2 / 4 / 4; }
    .marca3__producto5 {
      grid-area: 4 / 1 / 5 / 2; }
    .marca3__producto6 {
      grid-area: 4 / 2 / 5 / 4; }
    .marca3__producto1, .marca3__producto2 {
      grid-area: 2; }
    .marca3__producto3, .marca3__producto4 {
      grid-area: 3; }
    .marca3__producto5, .marca3__producto6 {
      grid-area: 4; }
    .marca3__producto7, .marca3__producto8 {
      grid-area: 5; }
    .marca3__producto9, .marca3__producto10 {
      grid-area: 6; }
    .marca3__producto11, .marca3__producto12 {
      grid-area: 7; } }

@media screen and (max-width: 768px) {
  .marca1 {
    padding-top: 140px; }
  .marca3 {
    height: 2000px; } }

@media screen and (max-width: 600px) {
  .marca1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 3200px; }
    .marca1__titulo {
      width: 100%; }
    .marca1__producto1 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca1__producto1__link {
        object-fit: cover; }
    .marca1__producto2 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca1__producto2__link {
        object-fit: cover; }
    .marca1__producto3 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca1__producto3__link {
        object-fit: cover; }
    .marca1__producto4 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca1__producto4__link {
        object-fit: cover; }
    .marca1__producto5 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca1__producto5__link {
        object-fit: cover; }
    .marca1__producto6 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca1__producto6__link {
        object-fit: cover; }
    .marca1__producto7 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca1__producto7__link {
        object-fit: cover; }
    .marca1__producto8 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca1__producto8__link {
        object-fit: cover; }
    .marca1__producto9 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca1__producto9__link {
        object-fit: cover; }
    .marca1__producto10 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca1__producto10__link {
        object-fit: cover; }
    .marca1__producto11 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca1__producto11__link {
        object-fit: cover; }
    .marca1__producto12 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca1__producto12__link {
        object-fit: cover; }
  .marca3 {
    height: 6250px; }
  .marca2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 3200px; }
    .marca2__titulo {
      width: 100%; }
    .marca2__producto1 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca2__producto1__link {
        object-fit: cover; }
    .marca2__producto2 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca2__producto2__link {
        object-fit: cover; }
    .marca2__producto3 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca2__producto3__link {
        object-fit: cover; }
    .marca2__producto4 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca2__producto4__link {
        object-fit: cover; }
    .marca2__producto5 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca2__producto5__link {
        object-fit: cover; }
    .marca2__producto6 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca2__producto6__link {
        object-fit: cover; }
    .marca2__producto7 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca2__producto7__link {
        object-fit: cover; }
    .marca2__producto8 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca2__producto8__link {
        object-fit: cover; }
    .marca2__producto9 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca2__producto9__link {
        object-fit: cover; }
    .marca2__producto10 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca2__producto10__link {
        object-fit: cover; }
    .marca2__producto11 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca2__producto11__link {
        object-fit: cover; }
    .marca2__producto12 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca2__producto12__link {
        object-fit: cover; }
  .marca3 {
    height: 6250px; }
  .marca3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 3200px; }
    .marca3__titulo {
      width: 100%; }
    .marca3__producto1 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca3__producto1__link {
        object-fit: cover; }
    .marca3__producto2 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca3__producto2__link {
        object-fit: cover; }
    .marca3__producto3 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca3__producto3__link {
        object-fit: cover; }
    .marca3__producto4 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca3__producto4__link {
        object-fit: cover; }
    .marca3__producto5 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca3__producto5__link {
        object-fit: cover; }
    .marca3__producto6 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca3__producto6__link {
        object-fit: cover; }
    .marca3__producto7 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca3__producto7__link {
        object-fit: cover; }
    .marca3__producto8 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca3__producto8__link {
        object-fit: cover; }
    .marca3__producto9 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca3__producto9__link {
        object-fit: cover; }
    .marca3__producto10 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca3__producto10__link {
        object-fit: cover; }
    .marca3__producto11 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca3__producto11__link {
        object-fit: cover; }
    .marca3__producto12 {
      background-size: 100% 500px;
      width: 100%;
      height: 500px; }
      .marca3__producto12__link {
        object-fit: cover; }
  .marca3 {
    height: 6250px; } }

/*NOVEDADES*/
.novedades {
  padding-top: 120px;
  height: 920px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px); }
  .novedades__novedad1 .carousel-inner, .novedades__novedad2 .carousel-inner, .novedades__novedad3 .carousel-inner, .novedades__novedad4 .carousel-inner, .novedades__novedad5 .carousel-inner, .novedades__novedad6 .carousel-inner {
    height: 100%;
    width: 100%; }
    .novedades__novedad1 .carousel-inner .carousel-item, .novedades__novedad2 .carousel-inner .carousel-item, .novedades__novedad3 .carousel-inner .carousel-item, .novedades__novedad4 .carousel-inner .carousel-item, .novedades__novedad5 .carousel-inner .carousel-item, .novedades__novedad6 .carousel-inner .carousel-item {
      height: 100%; }
      .novedades__novedad1 .carousel-inner .carousel-item img, .novedades__novedad2 .carousel-inner .carousel-item img, .novedades__novedad3 .carousel-inner .carousel-item img, .novedades__novedad4 .carousel-inner .carousel-item img, .novedades__novedad5 .carousel-inner .carousel-item img, .novedades__novedad6 .carousel-inner .carousel-item img {
        height: 100%; }
  .novedades__novedad1 img, .novedades__novedad2 img, .novedades__novedad3 img, .novedades__novedad4 img, .novedades__novedad5 img, .novedades__novedad6 img {
    height: 100%;
    width: 100%; }

@media screen and (max-width: 992px) {
  .novedades {
    height: 1600px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  .novedades {
    height: 4000px;
    padding-top: 140px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .novedades__novedad1 {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center; }
      .novedades__novedad1 a {
        height: 100%; }
      .novedades__novedad1 .carousel-item {
        height: 100%; }
    .novedades__novedad2 {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center; }
      .novedades__novedad2 a {
        height: 100%; }
      .novedades__novedad2 .carousel-item {
        height: 100%; }
    .novedades__novedad3 {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center; }
      .novedades__novedad3 a {
        height: 100%; }
      .novedades__novedad3 .carousel-item {
        height: 100%; }
    .novedades__novedad4 {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center; }
      .novedades__novedad4 a {
        height: 100%; }
      .novedades__novedad4 .carousel-item {
        height: 100%; }
    .novedades__novedad5 {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center; }
      .novedades__novedad5 a {
        height: 100%; }
      .novedades__novedad5 .carousel-item {
        height: 100%; }
    .novedades__novedad6 {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center; }
      .novedades__novedad6 a {
        height: 100%; }
      .novedades__novedad6 .carousel-item {
        height: 100%; } }

@media screen and (max-width: 600px) {
  .novedades {
    padding-top: 120px; } }

@media screen and (max-width: 500px) {
  .novedades {
    padding-top: 100px;
    height: 3000px;
    object-fit: cover; } }

.sale {
  padding-top: 140px;
  padding-bottom: 20px;
  height: 1400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px; }
  .sale__producto1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/Sale/Sale-1.jpeg");
    background-size: 100% 100%; }
    .sale__producto1__parrafo {
      background-color: red;
      color: white;
      text-transform: uppercase;
      width: 12.5%;
      text-align: center;
      margin: 1rem 0 0 0.5rem; }
    .sale__producto1__titulo {
      font-size: 40px;
      font-family: 'Quando', serif;
      text-align: center;
      color: silver; }
    .sale__producto1__link {
      margin: 0 0 1rem 2rem; }
  .sale__producto2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/Sale/Sale-2.jpeg");
    background-size: 100% 100%; }
    .sale__producto2__parrafo {
      background-color: red;
      color: white;
      text-transform: uppercase;
      width: 12.5%;
      text-align: center;
      margin: 1rem 0 0 0.5rem; }
    .sale__producto2__titulo {
      font-size: 40px;
      font-family: 'Quando', serif;
      text-align: center;
      color: silver; }
    .sale__producto2__link {
      margin: 0 0 1rem 2rem; }
  .sale__producto3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/Sale/Sale-3.jpeg");
    background-size: 100% 100%; }
    .sale__producto3__parrafo {
      background-color: red;
      color: white;
      text-transform: uppercase;
      width: 12.5%;
      text-align: center;
      margin: 1rem 0 0 0.5rem; }
    .sale__producto3__titulo {
      font-size: 40px;
      font-family: 'Quando', serif;
      text-align: center;
      color: silver; }
    .sale__producto3__link {
      margin: 0 0 1rem 2rem; }
  .sale__producto4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/Sale/Sale-4.jpeg");
    background-size: 100% 100%; }
    .sale__producto4__parrafo {
      background-color: red;
      color: white;
      text-transform: uppercase;
      width: 12.5%;
      text-align: center;
      margin: 1rem 0 0 0.5rem; }
    .sale__producto4__titulo {
      font-size: 40px;
      font-family: 'Quando', serif;
      text-align: center;
      color: silver; }
    .sale__producto4__link {
      margin: 0 0 1rem 2rem; }
  .sale__producto5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/Sale/Sale-5.jpeg");
    background-size: 100% 100%; }
    .sale__producto5__parrafo {
      background-color: red;
      color: white;
      text-transform: uppercase;
      width: 12.5%;
      text-align: center;
      margin: 1rem 0 0 0.5rem; }
    .sale__producto5__titulo {
      font-size: 40px;
      font-family: 'Quando', serif;
      text-align: center;
      color: silver; }
    .sale__producto5__link {
      margin: 0 0 1rem 2rem; }
  .sale__producto6 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/UltimaUnidad/UltimaU-6.jpeg");
    background-size: 100% 100%; }
    .sale__producto6__parrafo--silver {
      background-color: silver;
      color: black;
      text-transform: uppercase;
      width: 30%;
      text-align: center;
      margin: 1rem 0 0 0.5rem; }
    .sale__producto6__titulo {
      font-size: 40px;
      font-family: 'Quando', serif;
      text-align: center;
      color: silver; }
    .sale__producto6__link {
      margin: 0 0 1rem 2rem; }
  .sale__producto7 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/UltimaUnidad/UltimaU-7.jpeg");
    background-size: 100% 100%; }
    .sale__producto7__parrafo--silver {
      background-color: silver;
      color: black;
      text-transform: uppercase;
      width: 30%;
      text-align: center;
      margin: 1rem 0 0 0.5rem; }
    .sale__producto7__titulo {
      font-size: 40px;
      font-family: 'Quando', serif;
      text-align: center;
      color: silver; }
    .sale__producto7__link {
      margin: 0 0 1rem 2rem; }
  .sale__producto8 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/UltimaUnidad/UltimaU-8.jpeg");
    background-size: 100% 100%; }
    .sale__producto8__parrafo--silver {
      background-color: silver;
      color: black;
      text-transform: uppercase;
      width: 30%;
      text-align: center;
      margin: 1rem 0 0 0.5rem; }
    .sale__producto8__titulo {
      font-size: 40px;
      font-family: 'Quando', serif;
      text-align: center;
      color: silver; }
    .sale__producto8__link {
      margin: 0 0 1rem 2rem; }
  .sale__producto9 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/UltimaUnidad/UltimaU-9.jpeg");
    background-size: 100% 100%; }
    .sale__producto9__parrafo--silver {
      background-color: silver;
      color: black;
      text-transform: uppercase;
      width: 30%;
      text-align: center;
      margin: 1rem 0 0 0.5rem; }
    .sale__producto9__titulo {
      font-size: 40px;
      font-family: 'Quando', serif;
      text-align: center;
      color: silver; }
    .sale__producto9__link {
      margin: 0 0 1rem 2rem; }

@media only screen and (max-width: 992px) {
  .sale {
    height: 1800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr); }
    .sale__producto1 {
      background-repeat: no-repeat;
      background-size: 100% 100%; }
      .sale__producto1__parrafo {
        width: 25%;
        font-size: 15px; }
      .sale__producto1__titulo {
        font-size: 20px; }
    .sale__producto2 {
      background-repeat: no-repeat;
      background-size: 100% 100%; }
      .sale__producto2__parrafo {
        width: 25%;
        font-size: 15px; }
      .sale__producto2__titulo {
        font-size: 20px; }
    .sale__producto3 {
      background-repeat: no-repeat;
      background-size: 100% 100%; }
      .sale__producto3__parrafo {
        width: 25%;
        font-size: 15px; }
      .sale__producto3__titulo {
        font-size: 20px; }
    .sale__producto4 {
      background-repeat: no-repeat;
      background-size: 100% 100%; }
      .sale__producto4__parrafo {
        width: 25%;
        font-size: 15px; }
      .sale__producto4__titulo {
        font-size: 20px; }
    .sale__producto5 {
      background-repeat: no-repeat;
      background-size: 100% 100%; }
      .sale__producto5__parrafo {
        width: 25%;
        font-size: 15px; }
      .sale__producto5__titulo {
        font-size: 20px; }
    .sale__producto6 {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      /*object-fit: cover;*/ }
      .sale__producto6__parrafo {
        width: 75%;
        font-size: 15px; }
      .sale__producto6__titulo {
        font-size: 20px; }
    .sale__producto7 {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      /*object-fit: cover;*/ }
      .sale__producto7__parrafo {
        width: 75%;
        font-size: 15px; }
      .sale__producto7__titulo {
        font-size: 20px; }
    .sale__producto8 {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      /*object-fit: cover;*/ }
      .sale__producto8__parrafo {
        width: 75%;
        font-size: 15px; }
      .sale__producto8__titulo {
        font-size: 20px; }
    .sale__producto9 {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      /*object-fit: cover;*/ }
      .sale__producto9__parrafo {
        width: 75%;
        font-size: 15px; }
      .sale__producto9__titulo {
        font-size: 20px; } }

@media screen and (max-width: 600px) {
  .sale {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 3400px; }
    .sale__producto1 {
      height: 350px;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .sale__producto1__parrafo {
        width: 35%; }
    .sale__producto2 {
      height: 350px;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .sale__producto2__parrafo {
        width: 35%; }
    .sale__producto3 {
      height: 350px;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .sale__producto3__parrafo {
        width: 35%; }
    .sale__producto4 {
      height: 350px;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .sale__producto4__parrafo {
        width: 35%; }
    .sale__producto5 {
      height: 350px;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .sale__producto5__parrafo {
        width: 35%; }
    .sale__producto6 {
      height: 350px;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .sale__producto6__parrafo {
        width: 35%; }
    .sale__producto7 {
      height: 350px;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .sale__producto7__parrafo {
        width: 35%; }
    .sale__producto8 {
      height: 350px;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .sale__producto8__parrafo {
        width: 35%; }
    .sale__producto9 {
      height: 350px;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      .sale__producto9__parrafo {
        width: 35%; }
    .sale__producto1__parrafo {
      width: 15%; }
    .sale__producto2__parrafo {
      width: 15%; }
    .sale__producto3__parrafo {
      width: 15%; }
    .sale__producto4__parrafo {
      width: 15%; }
    .sale__producto5__parrafo {
      width: 15%; } }

/*FOOTER*/
.footer {
  background-color: black;
  height: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  .footer__nav {
    grid-area: 1 / 2 / 2 / 3;
    width: 25%; }
    .footer__nav a {
      color: red;
      margin: 20px;
      text-decoration: none; }
    .footer__nav__sitemap {
      display: inline-block;
      list-style: none;
      font-family: 'Charm', cursive;
      font-size: 20px;
      height: 100px;
      display: flex;
      text-align: center; }
      .footer__nav__sitemap-item:hover .subsitemap {
        display: block; }
      .footer__nav__sitemap-item a:hover {
        background-color: red;
        color: silver; }
  .footer .subsitemap {
    list-style: none;
    position: absolute;
    display: none;
    text-align: center;
    padding: 0%; }
    .footer .subsitemap a {
      color: silver; }
  .footer__redes {
    color: red;
    margin: 0% !important;
    grid-area: 2 / 1 / 3 / 2; }
  .footer__redes:hover {
    color: white; }
  .footer__linkMail {
    margin: 0% !important;
    text-align: right;
    color: silver;
    grid-area: 2 / 3; }
  .footer__copy {
    background-color: red;
    text-align: center;
    grid-area: 3 / 1 / 4 / 4; }

@media screen and (max-width: 768px) {
  .footer {
    background-color: silver; }
    .footer__nav__sitemap {
      padding: 0rem; }
      .footer__nav__sitemap__subsitemap a {
        color: black; }
    .footer__linkMail {
      color: black; } }

@media screen and (max-width: 670px) {
  .footer {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr); }
    .footer__nav {
      grid-area: 1 / 2 / 2 / 3; }
      .footer__nav a {
        color: red;
        margin: 15px;
        text-decoration: none; }
      .footer__nav__sitemap {
        list-style: none;
        font-size: 15px;
        height: 80px;
        display: flex;
        flex-direction: row;
        text-align: center; }
        .footer__nav__sitemap-item:hover .subsitemap {
          display: block; }
        .footer__nav__sitemap-item a:hover {
          background-color: red;
          color: silver; }
      .footer__nav__copy {
        background-color: red;
        text-align: center;
        grid-area: 3 / 1 / 4 / 4; } }

@media screen and (max-width: 550px) {
  .footer__nav {
    display: none; }
  .footer__copy {
    margin: 0px;
    height: 50px; } }
