 /*NOVEDADES*/
 
 
.novedades {
    padding-top: 120px;
    height: $mg-height*2.3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 400px);
    
    
    &__novedad1, &__novedad2, &__novedad3, &__novedad4, &__novedad5, &__novedad6{

        .carousel-inner{
            height: 100%;
            width: 100%;
        }

        img{
            height: 100%;
            width: 100%;
        }
    }
}


@media screen and (max-width: 768px) {
    .novedades{
        height: 3000px;
        padding-top: 140px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @for $var from 1 through 6 {
            &__novedad#{$var}{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: center
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .novedades{
        padding-top: 120px;
    }
}

@media screen and (max-width: 500px) {
    .novedades{
        padding-top: 100px;
    }
}

