.sale{
    padding-top: 140px;
    padding-bottom: 20px;
    height: $mg-height*4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;

    @for $i from 1 through 5 {
        &__producto#{$i}{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-image: url("../img/Sale/Sale-#{$i}.jpeg");
            background-size: 100% 100%;


            &__parrafo{
                background-color: red;
                color: white;
                text-transform: uppercase;
                width: $mc-width/2;
                text-align: center;
                margin: 1rem 0 0 0.5rem;
            }

            
            &__titulo{
                font-size: 40px;
                font-family: 'Quando', serif;
                text-align: center;
                color: silver;
            }

            &__link{
                margin: 0 0 1rem 2rem;
            }

            
        }
    }
    @for $i from 6 through 9 {
        &__producto#{$i}{
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-image: url("../img/UltimaUnidad/UltimaU-#{$i}.jpeg");
            background-size: 100% 100%;


            &__parrafo--silver{
                background-color: silver;
                color: black;
                text-transform: uppercase;
                width: 30%;
                text-align: center;
                margin: 1rem 0 0 0.5rem;
            }

            
            &__titulo{
                font-size: 40px;
                font-family: 'Quando', serif;
                text-align: center;
                color: silver;
            }

            &__link{
                margin: 0 0 1rem 2rem;
            }
        }
    }
}

@media only screen and (max-width: 992px){
    .sale{
        height: $mg-height*4.5;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        
        @for $i from 1 through 5{
            &__producto#{$i}{ 
                background-repeat: no-repeat;
                background-size: 100% 100%;


                &__parrafo{
                    width: $mc-width;
                    font-size: 15px;
                }

                &__titulo{
                    font-size: 20px;
                }
            }
        }
    
        @for $i from 6 through 9 {
            &__producto#{$i}{
                background-repeat: no-repeat;
                background-size: 100% 100%;
                /*object-fit: cover;*/

                &__parrafo{
                    width: $m-width;
                    font-size: 15px;
                }

                &__titulo{
                    font-size: 20px;
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .sale{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 3400px;

        @for $i from 1 through 9{
            &__producto#{$i}{
                height: 350px;
                background-size: 100% 100%;
                background-repeat: no-repeat;

                &__parrafo{
                    width: 35%;
                }
            }
        }

        @for $i from 1 through 5{
            &__producto#{$i}{
                &__parrafo{
                    width: 15%;
                }
            }
        }
    }
}