/*SERVICIOS*/
 
 
 
.marca1{
    @include productos;


    @for $i from 1 through 6 {
        &__producto#{$i}{
            background-image: url("../img/Nike/Nike-#{$i}.jpeg");
        }
    }
    &__producto4{
        background-image: url("../img/Nike/Nike-4.png");
    }
}


.marca2{
    @include productos;
    padding: 0%;
    background-color: white;
    
    &__titulo{
        background-image: linear-gradient(silver, white);
    }

    @for $i from 1 through 6 {
        &__producto#{$i}{
            background-image: url("../img/Converse/Converse-#{$i}.jpeg");
        }
    }
}


.marca3{
    @include productos;
    padding: 0%;
    height: $mg-height*4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem repeat(4, 1fr);

    @for $i from 1 through 12 {
        &__producto#{$i}{
            background-image: url("../img/Otros/Otros-#{$i}.jpeg");
        }
    }
}


@media screen and (max-width: 1200px) {
    .marca1{
        @include serviciomedia;
    }

    .marca2{
        @include serviciomedia;
    }

    .marca3{
        @include serviciomedia;
    }
}


@media screen and (max-width:768px) {
    .producto1{
        padding-top: 140px;
    }
}


@media screen and (max-width: 600px) {
    @for $i from 1 through 3 {
        .marca#{$i}{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 3200px;

            &__titulo{
                width: 100%;   
            }

            @for $i from 1 through 6 {
                &__producto#{$i}{
                    background-size: 100% 500px;
                    width: 100%;
                    height: 500px;

                    &__link{
                        object-fit: cover;
                    }
                }
            }
        }
    }
}